body {
    background: white;
    font-family: 'Josefin Sans',sans-serif; 
}

img {
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.topnav {
    padding: 15px;
}
.topnav a {
    padding: 1px 2px;
}

.topnav a:link {
    text-decoration: none;
    color: black;
}

.topnav a: visited {
    text-decoration: none;
    color: black;
}

.topnav a: active {
    text-decoration: none;
    color: black;
}

li {
    display: inline;
    padding: 20px 5px;
}

.li a {
    text-decoration: none;
    background-color: transparent;
    position: absolute;
    color: black;
    padding: 20px;
}

h1 {
    background-color: white;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

h3 {
    color: blue;
    vertical-align: center;
    margin-top: 0px;
    padding: 5px;
}

.menu-items {
    column-count: 2;
    height: 200px;
}
